.notFound-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notFound-container img{
    height: 600px;
}

.notFound-container .informacao {
    width: 100%;
    max-width: 350px;
    position: absolute;
    right: 450px;
}


.notFound-container .informacao h1{
    font-size: 35px;
    margin-bottom: 32px;
    color: #35353b;
    font-weight: 700;
}

.notFound-container .informacao h2{
    font-size: 18px;
    color: #41414d;
    font-weight: 500;
}

.notFound-container .informacao .voltar {
    width: 70%;
    height: 40px;
    margin-top: 40px;
    background: #e02041;
    color: #FFF;
    /* Expessura da letra */
    font-weight: 500;
    display: inline-block;
    /* Alinhar o texto ao centro */
    text-align: center;
    /* Tirar qualquer tipo de estilização do texto */
    text-decoration: none;
    font-size: 16px;
    /* Controla o espaço entre as linhas */
    line-height: 40px;
    transition: filter 0.2s;
}

.notFound-container .informacao .voltar:hover {
    filter: brightness(90%) 
}